<!DOCTYPE html>

<head>
    <title></title>
</head>

<body>
    <table>
        <tr>
            <td>
                Hej  {stylistname},

                <p>En ny bokning har kommit in via appen. Gå in i appen och godkänn uppdraget om du kan utföra detta. </p>

                <b> Bokningsinformation</b><br />
                <b>Kategori:</b> {Service}<br />
                <b>Tjänst:</b> {Types}<br />
                <b>Datum:</b> {BookingDate}<br />
                <b>Tid:</b> {Time}<br /><br />

                <b>Kontaktuppgifter</b><br /><br />
                <b>Namn:</b> {CustomerName}<br />
                <b>Adress:</b> {Address}<br />
                <b>Postnr:</b> {zipcode}<br />
                <b>Postort:</b> {City}<br /><br />

                <b>Kommentar:</b><br />{Comments}<br />
            
                <p>Vänliga hälsningar,</p>
                <p><img src="http://stageglamlybackweb.entella.com/Content/img/logo_small.png" /></p>
                <br /><br />
            </td>

        </tr>

    </table>

</body>
