<!DOCTYPE html>

<head>
    <title></title>
</head>

<body>
    <table>
        <tr>
            <td>
                Hej , <br />

                <p>Klicka på länken nedan för att ändra ditt lösenord. </p><br /><br />

                <p>{RESET_PASSWORD_LINK}</p><br />


                <p>Vänliga hälsningar,</p>              
                <p><img src="http://stageglamlybackweb.entella.com/Content/img/logo_small.png" /></p>
                <br /><br />
            </td>

        </tr>

    </table>

</body>
