<div class="custom-popup-design custom-alert-popup" id="errorpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-custom-width" role="document">
        <div>
            <div class="modal-body alert-popup popup-error">
                <!--<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <h4 class="modal-title" id="myModalLabel">Internal server error</h4>-->
                <p class="popup-term-text">{{msg}}</p>
                <button ng-click="dismissModal()" class="btn btn-block btn-alert-popup" data-dismiss="modal" type="submit">Ok</button>
            </div>
        </div>
    </div>
</div>
