
<form class="form-inline" role="form">
    <div class="top40">
        <p class="bottom20"><a class="btn btn-default bg3" href="#StylistHome" ng-click="goBack()" role="button">Tillbaka</a></p>
        <div class="row">
            <div class="col-sm-7">
                <label class="control-label pageHead">Kontodetalj - {{UserData.first_name +  " " + UserData.last_name}} </label>
            </div>
            <div class="col-sm-5">
                <a class="btn btn-primary  bottom10 btn-lg bg1 pull-right btn-sm-block" href="javascript:;" ng-click="EditAction()" id="savestylist" role="button" style="width:180px;margin-left:5px;">{{btnText}}</a>
                <span class="separator-right pull-right hidden-sm hidden-md" id="spandivide"></span>
                <a class="btn btn-primary btn-lg bg2  bottom10 pull-right btn-sm-block" href="" ng-click="deleteStylist(UserData)" role="button" style="width:180px; ">Ta bort konto</a>
            </div>
        </div>
    </div>
</form>
<hr>
<form name="" role="form">
    <div class="row rowinner white-bg padding20" ng-hide="editmode">
        <div class="col-sm-12 paddingleftright0">
            <div class="row profile-form">
                <div class="col-sm-4">
                    <h4 class="subHead">Personuppgifter</h4>
                    <!--<div class="form-group">
                        <label for="">Skapelsedatum</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.user_registration}}</p>
                        <input ng-show="IsEdit" type="text" class="lead" ng-model="UserData.user_registration" />
                    </div>-->
                    <div class="form-group">
                        <label for="">Namn</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.first_name}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.first_name" />-->
                    </div>
                    <div class="form-group">
                        <label for="">Kontaktperson</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.last_name}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.last_name" />-->
                    </div>
                    <div class="form-group">
                        <label for="">Epost</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.user_email}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.user_email" />-->
                    </div>
                    <div class="form-group">
                        <label for="">Telefonnummer</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.mobile}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.mobile" />-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="subHead">Uppgifter</h4>
                    <div class="form-group">
                        <label for="">Adress</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.address}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.address" />-->
                    </div>
                    <div class="form-group">
                        <label for="">Postnummer</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.zipcode}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.zipcode" />-->
                    </div>
                    <div class="form-group">
                        <label for="">Postort</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.city}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.city" />-->
                    </div>
                    <div class="form-group">
                        <label for="">kommentarer</label>
                        <p ng-hide="IsEdit" class="lead">{{UserData.comments}}</p>
                        <!--<input ng-show="IsEdit" type="text" class="form-control" ng-model="UserData.city" />-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="subHead">Glamly PRO</h4>
                    <div class="form-group" id="liServices">
                        <label for="">Expertis</label>
                        <!--<p class="lead"><span class="point "></span> {{UserData.services}}</p>-->
                        <ul ng-hide="IsEdit" ng-repeat="h in servicesData" class="lead">
                            <li>
                                {{h}}
                            </li>
                        </ul>
                        <!--<div ng-show="IsEdit" class="row">


                            <div class="col-md-6" ng-repeat="h in ServicesList">
                                <div class="checkbox-custom">
                                    <span class="squaredTwo">
                                        <input ng-model="h.chkvalue" type="checkbox" value="h.id" id="{{h.id}}" />

                                        <label for="{{h.id}}"></label>
                                    </span>
                                    <span>{{h.servicename}}</span>
                                </div>
                            </div>

                        
                        </div>-->
                        <!--<p class="lead"><span class="point "></span> Naglar</p>-->
                    </div>
                    <!--<div class="form-group">
                        <label for="">Användarnamn</label>
                        <p class="lead">{{UserData.user_email}}</p>
                    </div>
                    <div class="form-group">
                        <label for="">Lösenord</label>
                        <p class="lead">{{UserData.user_pass}}</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row rowinner white-bg padding20 " ng-show="editmode" id="editmode">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12  paddingleftright0">
                    <h4 class="subHead">Personuppgifter</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Förnamn*</label>
                                <div ng-class="{'has-error':UserPrivateForm.first_name.$invalid && UserPrivateForm.first_name.$touched}">
                                    <input name="first_name" ng-model="UserData.first_name" type="text" class="form-control" required
                                           uib-tooltip="Mandatory!" tooltip-enable="UserPrivateForm.first_name.$invalid && UserPrivateForm.first_name.$touched">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Efternamn*</label>
                                <div ng-class="{'has-error':UserPrivateForm.last_name.$invalid && UserPrivateForm.last_name.$touched}">
                                    <input name="last_name" ng-model="UserData.last_name" type="text" class="form-control" required
                                           uib-tooltip="Mandatory!" tooltip-enable="UserForm.last_name.$invalid && UserForm.last_name.$touched">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="form-group">
                                <label class="control-label">Epostadress*</label>
                                <div ng-class="{'has-error':UserPrivateForm.user_email.$invalid && UserPrivateForm.user_email.$touched}">
                                    <input name="user_email" ng-model="UserData.user_email" type="email" class="form-control" required placeholder="Epostadress"
                                           uib-tooltip="Mandatory!" tooltip-enable="UserForm.user_email.$invalid && UserForm.user_email.$touched">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Telefonnummer*</label>
                                <div ng-class="{'has-error':UserPrivateForm.mobile.$invalid && UserPrivateForm.mobile.$touched}">
                                    <input name="Mobile" ng-model="UserData.mobile" type="text" class="form-control" required placeholder="Telefonnummer"
                                           uib-tooltip="Mandatory!" tooltip-enable="UserForm.mobile.$invalid && UserForm.mobile.$touched">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="form-group">
                                <label class="control-label">Adress*</label>
                                <div ng-class="{'has-error':UserPrivateForm.address.$invalid && UserPrivateForm.address.$touched}">
                                    <input name="address" ng-model="UserData.address" type="text" class="form-control" required placeholder="Address"
                                           uib-tooltip="Mandatory!" tooltip-enable="UserForm.address.$invalid && UserForm.address.$touched">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Postort*</label>
                                <div ng-class="{'has-error':UserPrivateForm.city.$invalid && UserPrivateForm.city.$touched}">
                                    <input name="city" ng-model="UserData.city" type="text" class="form-control" required placeholder="Postort"
                                           uib-tooltip="Mandatory!" tooltip-enable="UserForm.city.$invalid && UserForm.city.$touched">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Postnummer*</label>
                                <div ng-class="{'has-error':UserPrivateForm.zipcode.$invalid && UserPrivateForm.zipcode.$touched}">
                                    <input name="zipcode" ng-model="UserData.zipcode" type="text" class="form-control" required placeholder="zipcode"
                                           uib-tooltip="Mandatory!" tooltip-enable="UserForm.zipcode.$invalid && UserForm.zipcode.$touched">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">kommentarer</label>
                                <div ng-class="{'has-error':UserPrivateForm.comments.$invalid && UserPrivateForm.comments.$touched}">
                                    <textarea style="height: 50px;" name="comments" ng-model="UserData.comments" type="text" class="form-control"
                                              uib-tooltip="Mandatory!" tooltip-enable="UserForm.comments.$invalid && UserForm.comments.$touched"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12  paddingleftright0 expertise-section">
                    <h4 class="subHead">Kategorier</h4>
                    <div class="row">
                        <div class="col-sm-12 top20">


                            <div class="col-md-6" ng-repeat="h in ServicesList">
                                <div class="checkbox-custom">
                                    <span class="squaredTwo">
                                        <input ng-model="h.chkvalue" type="checkbox" value="h.id" id="{{h.id}}" />

                                        <label for="{{h.id}}"></label>
                                    </span>
                                    <span>{{h.servicename}}</span>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-12" ng-repeat="h in ServicesList">
                            <div class="checkbox-custom">
                                <span class="squaredTwo">
                                    <input id="check1" ng-model="h.chkvalue" type="checkbox" value="h.id" />
                                    <label for="check1"></label>
                                </span>
                                <span>{{h.servicename}}</span>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>

